<table class="table table-hover ">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Username
    </th>
    <th>
      Email
    </th>
    <th>
      # of records
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersShow">
    <td>
      <a
        disabled=""
      >
        {{ user.name }}
      </a>

    </td>
    <td>
      <a

        disabled=""
      >
        {{ user.username }}
      </a>
    </td>
    <td>
      <a

         disabled=""
      >
        {{ user.email }}
      </a>
    </td>
    <td>
      <a

        disabled=""
      >
        {{user.records}}

      </a>
    </td>
    <td>
      <a
        class="btn btn-primary"
      >

        View records
      </a>
    </td>
  </tr>
  </tbody>
</table>
